.itemSpawn {
  width:50%;
  height: 50%;
  max-width: 600px;
  min-width: 600px;
  min-height: 600px;
  max-height: 600px;
  z-index: 999;
  background-image: url("../static/table.jpg");
  background-blend-mode: normal, difference, normal;
  background-repeat: no-repeat;
  background-size: 600px 600px;
}
