.square {
  background: burlywood;
  border-color: white;
  height: 100px;
  margin-top: -1px;
  width: 100px;
  position: relative;
}

.square:focus {
  outline: none;
}

.item-square {
  background: yellowgreen;
  margin-top: -1px;
}

.square-transparent {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: 2px solid transparent;
  overflow: hidden;
  outline: none;
  position: relative;
}

.square-filled {
  background: black;
}