.square {
  background: burlywood;
  border-color: white;

  margin-top: -1px;
  width: 16%;
  height: 16%;
  min-width: 100px;
  min-height: 100px;
}

.square:focus {
  outline: none;
}
.m {
  background: #FFFB06;
}
.g {
  background: #A7A29E;
}
.b {
  background: #67340B;
}

.square-transparent {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: 2px solid transparent;
  overflow: hidden;
  outline: none;
  position: relative;
}

.square-filled {
  background: black;
}
.item-square {
  width: 16%;
  height: 16%;
  min-width: 97px;
  min-height: 97px;
  margin: 1px;
}