.square {
  background: burlywood;
  border: .15em solid black;
  margin-top: -1px;
  width: 16%;
  height: 16%;
  min-width: 100px;
  min-height: 100px;
  border-radius: 12px;
}

.square:focus {
  outline: none;
}
.m {
  background: #FFFB06;
}
.g {
  background: #A7A29E;
}
.b {
  background: #67340B;
}
.r {
  background: orangered;
}
.p {
  background: purple;
}

.square-transparent {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: 2px solid transparent;
  overflow: hidden;
  outline: none;
  position: relative;
}

/* .square-filled {
  
} */
.item-square {
  border-radius: 12px;
  width: 16%;
  height: 16%;
  min-width: 96px;
  min-height: 96px;
  margin: 1px;
  
}