body {
  font: 16px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
} 

.flex-container {
 display: flex; 
 position: relative;
 float:left;
  width:100%;
  max-width: 1200px;
  height:100%;
  max-height: 600px;
}

.inBox {
  position: relative;
  float:left;
  border: .15em solid black
}

.it {
  display: inline-block;

}